.search-progresso {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  border-radius: 5px;
  gap: 10px;
}

.search-progresso .search{
  background-color: #EEE5E9;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  height: 56px;
}

.search-progresso .icon{
  color: white;
  font-size: 24px;
}

.content .MuiTextField-root {
    margin-bottom: 20px;
  }
  
.content .MuiBox-root {
margin-bottom: 20px;
color: white;
}

.content .MuiButton-root {
margin-right: 8px;
color: white;
}

.chart-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}


@media (max-width: 480px) {
  .search-progresso {
    padding: 10px;
    gap: 15px;
  }

  .search-progresso .icon{
    font-size: 30px;
  }



  .css-hzmhdb{
    width: 70%;
    gap: 5px;
  }
}